@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .printable-receipt,
  .printable-receipt * {
    visibility: visible;
  }
  .printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    max-width: 100% !important;
    border: 3px double #000 !important;
    box-shadow: none !important;
  }
  .no-print {
    display: none !important;
  }
}
